@import 'tailwindcss';
@import 'tw-animate-css';

:root {
	--color-brand-base: #1f6f43;
	--color-brand-dark: #124b2b;

	--color-black: #000000;
	--color-white: #ffffff;
	--color-danger: #ef4444;
	--color-success: #19ad70;

	--color-gray-800: #111827;
	--color-gray-700: #374151;
	--color-gray-600: #4b5563;
	--color-gray-500: #6b7280;
	--color-gray-400: #9ca3af;
	--color-gray-200: #e5e7eb;
	--color-gray-100: #f8f9fa;

	/* Blue */
	--color-blue-dark: #1d4ed8;
	--color-blue-base: #2563eb;
	--color-blue-light: #dbeafe;

	/* Purple */
	--color-purple-dark: #7e22ce;
	--color-purple-base: #9333ea;
	--color-purple-light: #f3ebff;

	/* Pink */
	--color-pink-dark: #be185d;
	--color-pink-base: #db2777;
	--color-pink-light: #fce7f3;

	/* Red */
	--color-red-dark: #b91c1c;
	--color-red-base: #dc2626;
	--color-red-light: #fee2e2;

	/* Orange */
	--color-orange-dark: #c2410c;
	--color-orange-base: #ea580c;
	--color-orange-light: #ffedd5;

	/* Yellow */
	--color-yellow-dark: #a16207;
	--color-yellow-base: #ca8a04;
	--color-yellow-light: #f7f3ca;

	/* Green */
	--color-green-dark: #15803d;
	--color-green-base: #16a34a;
	--color-green-light: #e0fae9;
}

@theme inline {
	--font-sans: 'Inter', system-ui, sans-serif;
	--color-brand-base: var(--color-brand-base);
	--color-brand-dark: var(--color-brand-dark);

	--color-black: var(--color-black);
	--color-white: var(--color-white);
	--color-danger: var(--color-danger);
	--color-success: var(--color-success);

	--color-gray-800: var(--color-gray-800);
	--color-gray-700: var(--color-gray-700);
	--color-gray-600: var(--color-gray-600);
	--color-gray-500: var(--color-gray-500);
	--color-gray-400: var(--color-gray-400);
	--color-gray-200: var(--color-gray-200);
	--color-gray-100: var(--color-gray-100);

	/* Blue */
	--color-blue-dark: var(--color-blue-dark);
	--color-blue-base: var(--color-blue-base);
	--color-blue-light: var(--color-blue-light);

	/* Purple */
	--color-purple-dark: var(--color-purple-dark);
	--color-purple-base: var(--color-purple-base);
	--color-purple-light: var(--color-purple-light);

	/* Pink */
	--color-pink-dark: var(--color-pink-dark);
	--color-pink-base: var(--color-pink-base);
	--color-pink-light: var(--color-pink-light);

	/* Red */
	--color-red-dark: var(--color-red-dark);
	--color-red-base: var(--color-red-base);
	--color-red-light: var(--color-red-light);

	/* Orange */
	--color-orange-dark: var(--color-orange-dark);
	--color-orange-base: var(--color-orange-base);
	--color-orange-light: var(--color-orange-light);

	/* Yellow */
	--color-yellow-dark: var(--color-yellow-dark);
	--color-yellow-base: var(--color-yellow-base);
	--color-yellow-light: var(--color-yellow-light);

	/* Green */
	--color-green-dark: var(--color-green-dark);
	--color-green-base: var(--color-green-base);
	--color-green-light: var(--color-green-light);
}

body {
	font-family: var(--font-sans);
	background-color: var(--color-gray-100);
	padding: 0;
	margin: 0;
}

button {
	cursor: pointer;
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
	outline: none;
	box-shadow: none;
}
